.conteudo__secao__formula{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff5d4;
    padding: 5% 0;
}

.container__texto__imagem{
    display: flex;
    width: 85%;
    gap: 2rem;
    align-items: center;
}

.container__textos__formula{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.imagem__frasco{
    width: 45%;
    height: fit-content;
}

.secao__formula__titulo{
    color: #ff5300;
    font-size: 2rem;
    font-weight: 700;
    line-height: 46px;
}

.secao__formula__texto{
    color: #000;
    font-size: 1.2rem;
    line-height: 30px;
}

.container__formula{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1% 0;
}

/*Responsividade tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__texto__imagem{
        width: 90%;
        margin-bottom: 2%;
    }

    .container__textos__formula{
        width: 50%;
    }

    .container__formula{
        width: 90%;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .container__texto__imagem{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5%;
    }

    .container__textos__formula{
        width: 95%;
    }

    .imagem__frasco{
        width: 90%;
    }

    .container__formula{
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
}