.conteudo__secao__beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03390c;
    background-image: radial-gradient(circle at 75% 25%,#006e05,rgba(3,57,12,0));
    padding: 1.5% 0;
}

.secao__beneficios__titulo{
    color: snow;
    text-align: center;
    font-size: 2rem;
    line-height: 46px;
}

.secao__beneficios__texto{
    color: #fff;
    text-align: center;
    font-size: 1.15rem;
    line-height: 34px;
    width: 52%;
}

.container__benefícios{
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 2rem;
}

/*Responsividade tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .secao__beneficios__texto{
        width: 85%;
    }

    .container__benefícios{
        width: 90%;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .secao__beneficios__texto{
        width: 95%;
    }

    .container__benefícios{
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
}